___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Time Shifting

Sometimes you may need to shift all your data up or down along the time series index, in fact, a lot of pandas built-in methods do this under the hood. This isn't something we won't do often in the course, but its definitely good to know about this anyways!

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('../DATA/WMT.csv',index_col='Date',parse_dates=True)

In [6]:
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-09-06  72.760002  73.080002  72.199997  73.000000  65.758080   9570900
2016-09-07  73.000000  73.050003  72.010002  72.059998  64.911324   9618300
2016-09-08  71.889999  72.320000  71.709999  71.830002  64.704163   9661200
2016-09-09  71.320000  71.510002  70.300003  70.300003  63.325943  12172600
2016-09-12  70.790001  72.239998  70.720001  71.940002  64.803238  10864000

In [7]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-08-27,147.509995,147.690002,146.179993,146.520004,146.520004,7691300
2021-08-30,146.419998,148.000000,146.020004,147.699997,147.699997,5480200
2021-08-31,147.990005,148.440002,147.240005,148.100006,148.100006,8359500
2021-09-01,147.559998,147.929993,146.570007,147.779999,147.779999,6352200
2021-09-02,148.119995,148.789993,147.690002,148.559998,148.559998,6674100

## .shift() forward

In [8]:
df.shift(1).head()

                 Open       High        Low      Close  Adj Close      Volume
Date
2016-09-06        NaN        NaN        NaN        NaN        NaN         NaN
2016-09-07  72.760002  73.080002  72.199997  73.000000  65.758080   9570900.0
2016-09-08  73.000000  73.050003  72.010002  72.059998  64.911324   9618300.0
2016-09-09  71.889999  72.320000  71.709999  71.830002  64.704163   9661200.0
2016-09-12  71.320000  71.510002  70.300003  70.300003  63.325943  12172600.0

In [9]:
# You will lose that last piece of data that no longer has an index!
df.shift(1).tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-08-27,147.470001,148.270004,146.669998,147.350006,147.350006,7822300.0
2021-08-30,147.509995,147.690002,146.179993,146.520004,146.520004,7691300.0
2021-08-31,146.419998,148.000000,146.020004,147.699997,147.699997,5480200.0
2021-09-01,147.990005,148.440002,147.240005,148.100006,148.100006,8359500.0
2021-09-02,147.559998,147.929993,146.570007,147.779999,147.779999,6352200.0

## shift() backwards

In [10]:
df.shift(-1).head()

                 Open       High        Low      Close  Adj Close      Volume
Date
2016-09-06  73.000000  73.050003  72.010002  72.059998  64.911324   9618300.0
2016-09-07  71.889999  72.320000  71.709999  71.830002  64.704163   9661200.0
2016-09-08  71.320000  71.510002  70.300003  70.300003  63.325943  12172600.0
2016-09-09  70.790001  72.239998  70.720001  71.940002  64.803238  10864000.0
2016-09-12  71.839996  71.910004  71.150002  71.459999  64.370857   7507900.0

In [11]:
df.shift(-1).tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-08-27,146.419998,148.000000,146.020004,147.699997,147.699997,5480200.0
2021-08-30,147.990005,148.440002,147.240005,148.100006,148.100006,8359500.0
2021-08-31,147.559998,147.929993,146.570007,147.779999,147.779999,6352200.0
2021-09-01,148.119995,148.789993,147.690002,148.559998,148.559998,6674100.0
2021-09-02,NaN,NaN,NaN,NaN,NaN,NaN

## Shifting based off Time String Code 
### Using tshift()

In [13]:
# Shift everything forward one month
df.shift(periods=1,freq='M').head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-09-30  72.760002  73.080002  72.199997  73.000000  65.758080   9570900
2016-09-30  73.000000  73.050003  72.010002  72.059998  64.911324   9618300
2016-09-30  71.889999  72.320000  71.709999  71.830002  64.704163   9661200
2016-09-30  71.320000  71.510002  70.300003  70.300003  63.325943  12172600
2016-09-30  70.790001  72.239998  70.720001  71.940002  64.803238  10864000

# Row Calculations

## Differencing

In [17]:
df["Adj Close"]

Date
2016-09-06     65.758080
2016-09-07     64.911324
2016-09-08     64.704163
2016-09-09     63.325943
2016-09-12     64.803238
                 ...
2021-08-27    146.520004
2021-08-30    147.699997
2021-08-31    148.100006
2021-09-01    147.779999
2021-09-02    148.559998
Name: Adj Close, Length: 1258, dtype: float64

In [18]:
df["Adj Close"].diff(1)

Date
2016-09-06         NaN
2016-09-07   -0.846756
2016-09-08   -0.207161
2016-09-09   -1.378220
2016-09-12    1.477295
                ...
2021-08-27   -0.830002
2021-08-30    1.179993
2021-08-31    0.400009
2021-09-01   -0.320007
2021-09-02    0.779999
Name: Adj Close, Length: 1258, dtype: float64

## Percent Changes

In [20]:
df['Adj Close']

Date
2016-09-06     65.758080
2016-09-07     64.911324
2016-09-08     64.704163
2016-09-09     63.325943
2016-09-12     64.803238
                 ...
2021-08-27    146.520004
2021-08-30    147.699997
2021-08-31    148.100006
2021-09-01    147.779999
2021-09-02    148.559998
Name: Adj Close, Length: 1258, dtype: float64

In [21]:
df['Adj Close'].pct_change(1)

Date
2016-09-06         NaN
2016-09-07   -0.012877
2016-09-08   -0.003191
2016-09-09   -0.021300
2016-09-12    0.023328
                ...
2021-08-27   -0.005633
2021-08-30    0.008053
2021-08-31    0.002708
2021-09-01   -0.002161
2021-09-02    0.005278
Name: Adj Close, Length: 1258, dtype: float64

## Cummulative Sums or Products

In [22]:
example_series = pd.Series([1,2,3,4])

In [23]:
example_series

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
example_series.cumsum()

0     1
1     3
2     6
3    10
dtype: int64

In [25]:
example_series.cumprod()

0     1
1     2
2     6
3    24
dtype: int64